<?xml version="1.0" encoding="UTF-8"?>

<!-- 导包 -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    
    <context:component-scan base-package="com.ncwu.controller"/>
    
    
	<mvc:annotation-driven>
		<mvc:message-converters>
			<!-- 将Jackson2HttpMessageConverter的默认格式化输出为false -->
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
				<property name="prettyPrint" value="false" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	 
    <bean
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 返回的jsp文件的路径前缀 -->
        <property name="prefix" value="/jsp/"></property>
        <!-- 返回的jsp文件的路径后缀 -->
        <property name="suffix" value=".jsp"></property>
    </bean>
  
    <mvc:default-servlet-handler/>

    <!-- 使用默认的handler,支持静态资源的访问 
                        使用过滤器时取消注释
    
    <mvc:interceptors>
        <mvc:interceptor>   
            <mvc:mapping path="/**"/>
            <bean class="com.ncwu.filter.LoginFilter"/>
        </mvc:interceptor>
    </mvc:interceptors>
    
    -->
       
    
    
</beans>