<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncwu.dao.StudentDao">
  <resultMap id="BaseResultMap" type="com.ncwu.model.Student">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="student_class" jdbcType="INTEGER" property="studentClass" />
    <result column="student_number" jdbcType="INTEGER" property="studentNumber" />
    <result column="student_name" jdbcType="VARCHAR" property="studentName" />
  </resultMap>
</mapper>