<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncwu.dao.UserDao">
  <resultMap id="BaseResultMap" type="com.ncwu.model.User">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="username" jdbcType="INTEGER" property="username" />
    <result column="password" jdbcType="INTEGER" property="password" />
    <result column="authority" jdbcType="VARCHAR" property="authority" />
  </resultMap>
</mapper>